body{
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
  color: #c83434;
}
#netflixbtn{
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 8px;
    padding: 15px;
    
}